.tags{
	margin: 0;
	padding: 0;
}
.tags li{
	float:left;
	list-style: none;
	padding: 5px;
}
.img-small {
	max-width: 100px;
	max-height: 70px;
	min-width: 70px;
	min-height: 30px;
}
.td-small{
	width: 100px;
}
.text-light{
	color: #ccc;
}