.tags{
	margin: 0;
	padding: 0px 0px 0px 8px;
}
.tags ul{
	padding: 0;
}
.tags li{
	float:left;
	list-style: none;
	padding: 5px;
}
.img-small {
	max-width: 100px;
	max-height: 70px;
	min-width: 70px;
	min-height: 30px;
}
.td-small{
	width: 100px;
}
.text-light{
	color: #ccc;
}
.content-resize {

}

.content-resize img{
	max-width:100%;
	height: auto;
}
@media (max-width: 767px) {
	.content-resize-col-1{
		max-width:200px;
	}
	.content-resize-col-1 a{
		display:block;
		max-width:170px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.content-resize span,
	.content-resize b,
	.content-resize a{
		display:block;
		max-width:250px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}